<!doctype html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body data-page="{{ page.page_id }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_id }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<a class="skip-link" href="#main">Skip to content</a>
{% include header.html %}
<main id="main">
{{ content }}
</main>
{% include footer.html %}
</body>
</html>
